In [50]:
import pandas as pd
import numpy as np
from datetime import date

In [51]:
dec13 = pd.read_csv("DATA/201312-citibike-tripdata_1.csv")
df1 = pd.DataFrame(dec13)
df1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1015,2013-12-01 00:00:03,2013-12-01 00:16:58,401,Allen St & Rivington St,40.720196,-73.989978,476,E 31 St & 3 Ave,40.743943,-73.979661,14729,Subscriber,1979,2
1,962,2013-12-01 00:00:07,2013-12-01 00:16:09,312,Allen St & E Houston St,40.722055,-73.989111,223,W 13 St & 7 Ave,40.737815,-73.999947,17871,Subscriber,1970,2
2,768,2013-12-01 00:00:15,2013-12-01 00:13:03,326,E 11 St & 1 Ave,40.729538,-73.984267,291,Madison St & Montgomery St,40.713126,-73.984844,18508,Subscriber,1982,2
3,218,2013-12-01 00:00:49,2013-12-01 00:04:27,2021,W 45 St & 8 Ave,40.759291,-73.988597,447,8 Ave & W 52 St,40.763707,-73.985162,17745,Subscriber,1976,1
4,550,2013-12-01 00:01:28,2013-12-01 00:10:38,439,E 4 St & 2 Ave,40.726281,-73.989780,296,Division St & Bowery,40.714131,-73.997047,16947,Subscriber,1983,1

In [52]:
dec18 = pd.read_csv("DATA/201812-citibike-tripdata.csv")
df2 = pd.DataFrame(dec18)
df2.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,689,2018-12-01 00:00:04.3020,2018-12-01 00:11:33.8460,3359.0,E 68 St & Madison Ave,40.769157,-73.967035,164.0,E 47 St & 2 Ave,40.753231,-73.970325,35033,Subscriber,1989,1
1,204,2018-12-01 00:00:05.5330,2018-12-01 00:03:30.5230,3504.0,E 123 St & Lexington Ave,40.802926,-73.937900,3490.0,E 116 St & 2 Ave,40.796879,-73.937261,20501,Subscriber,1966,1
2,316,2018-12-01 00:00:10.2330,2018-12-01 00:05:27.2030,270.0,Adelphi St & Myrtle Ave,40.693083,-73.971789,243.0,Fulton St & Rockwell Pl,40.688226,-73.979382,18386,Subscriber,1984,1
3,726,2018-12-01 00:00:21.9570,2018-12-01 00:12:28.1830,495.0,W 47 St & 10 Ave,40.762699,-73.993012,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,27616,Subscriber,1983,1
4,397,2018-12-01 00:00:29.6320,2018-12-01 00:07:07.4460,473.0,Rivington St & Chrystie St,40.721101,-73.991925,3467.0,W Broadway & Spring Street,40.724947,-74.001659,35096,Subscriber,1976,1

In [53]:
df_all =  pd.concat([df1, df2], ignore_index=True)
df_all.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1015,2013-12-01 00:00:03,2013-12-01 00:16:58,401.0,Allen St & Rivington St,40.720196,-73.989978,476.0,E 31 St & 3 Ave,40.743943,-73.979661,14729,Subscriber,1979,2
1,962,2013-12-01 00:00:07,2013-12-01 00:16:09,312.0,Allen St & E Houston St,40.722055,-73.989111,223.0,W 13 St & 7 Ave,40.737815,-73.999947,17871,Subscriber,1970,2
2,768,2013-12-01 00:00:15,2013-12-01 00:13:03,326.0,E 11 St & 1 Ave,40.729538,-73.984267,291.0,Madison St & Montgomery St,40.713126,-73.984844,18508,Subscriber,1982,2
3,218,2013-12-01 00:00:49,2013-12-01 00:04:27,2021.0,W 45 St & 8 Ave,40.759291,-73.988597,447.0,8 Ave & W 52 St,40.763707,-73.985162,17745,Subscriber,1976,1
4,550,2013-12-01 00:01:28,2013-12-01 00:10:38,439.0,E 4 St & 2 Ave,40.726281,-73.989780,296.0,Division St & Bowery,40.714131,-73.997047,16947,Subscriber,1983,1

In [34]:
df_all.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
1460466,734,2018-12-31 23:55:06.9910,2019-01-01 00:07:21.2300,336.0,Sullivan St & Washington Sq,40.730477,-73.999061,379.0,W 31 St & 7 Ave,40.749156,-73.991600,27111,Subscriber,1986,1
1460467,2551,2018-12-31 23:55:44.3070,2019-01-01 00:38:15.7820,3320.0,Central Park West & W 100 St,40.794067,-73.962868,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,16390,Customer,1969,0
1460468,2376,2018-12-31 23:56:52.8500,2019-01-01 00:36:29.2860,427.0,Bus Slip & State St,40.701907,-74.013942,259.0,South St & Whitehall St,40.701221,-74.012342,34398,Subscriber,1979,1
1460469,2758,2018-12-31 23:58:29.2120,2019-01-01 00:44:27.5170,3320.0,Central Park West & W 100 St,40.794067,-73.962868,281.0,Grand Army Plaza & Central Park S,40.764397,-73.973715,30818,Customer,1969,0
1460470,2459,2018-12-31 23:59:51.0850,2019-01-01 00:40:50.8800,128.0,MacDougal St & Prince St,40.727103,-74.002971,402.0,Broadway & E 22 St,40.740343,-73.989551,34775,Subscriber,1996,2

In [54]:
df_all.count()

tripduration               1460471
starttime                  1460471
stoptime                   1460471
start station id           1460382
start station name         1460382
start station latitude     1460471
start station longitude    1460471
end station id             1460382
end station name           1460382
end station latitude       1460471
end station longitude      1460471
bikeid                     1460471
usertype                   1460471
birth year                 1460471
gender                     1460471
dtype: int64

In [55]:
df_all['gender'].replace(to_replace=[0, 1, 2],
           value=['Unknown', 'Male', 'Female'],
           inplace=True)

In [37]:
df_all.to_csv('DATA/2years_citibikenyc_tripdata.csv',  index=False, header=True)